h1{
    text-align: center;
}
table{
    align-content: center;
    border: 1px solid;
    width: 500px;
    height: 500px;
    margin-left: 150px;
}
.button {
    text-align: center;
    
}
.button input {
    margin: 0 25px;
}