/* ==========================1. 속성 선택자==========================*/
/* div 요소들 중 name속성값이 name1과 "일치"하는 요소 선택 */
div[name=name1] {
    background-color: violet;
}

/* div 요소들 중 name속성값이 name1과 단어로 "포함"하는 요소 선택 */
div[name~=name1]{
    color: yellow;
}

/* div 요소들 중 name속성값이 na로 "시작"하는 요소 선택 */
div[name^=na]{
    font-size: 20px;
}

/* div 요소들 중 class속성값이 na로 "끝"나는 요소 선택 */
div[class$=ss]{
    color: brown;
}

/* div 요소들 중 class속성값이 i가 "포함"되어 있는 요소 선택 */
div[class*=i]{
    color: red;
    background-color:wheat;
}

/* class 속성값이 div-class인 요소들 중에 name속성값이 name3이 포함되어 있는 요소*/
.div-class[name~=name3]{
    background-color: aqua;
}

/*========================= 2. 자손/후손 선택자 =======================*/
/* #test의 자손들 중 h4요소만 선택  */

/* #test1의 모든 자손들 */
/* #test1>*{
    background-color: chartreuse;
} */

/* #test1의 자손들중 h4만 */
#test1>h4 {
    background-color: violet;
}

/* #test1의 자손들중 ul의 자손들 중 li요소만 */
#test1>ul>li {
    color:blueviolet
}

/* #test1의 후손들 중 li만 */
#test1 li{
    background-color: beige;
}

/*========================= 3.동위 선택자 =======================*/
/* #test2의 바로 뒤에 나오는 div 하나만 선택 */
#test2+div{background-color: yellow;}
#test2+ul{background-color: cornflowerblue;}
/* 선택안됨(바로 뒤 요소가 ul이 아니기 때문)*/

/* #test2의 뒤의 형제들중 div는 모두 다 */
/* #test2~div{background-color: coral;} */
#test2~ul{color: darkorchid;}

/*========================= 4.반응 선택자 =======================*/
.area{
    background-color: rgb(154, 216, 30);
    width: 100px;
    height: 100px;
    cursor: pointer;
}
#active-test:active{
    background-color: blueviolet;
    color: white;
}

#hover-test:hover{
    background-color: red;
    color: white;
}

#link:link{color: aquamarine;}
#link:hover{color: green;}
#link:active{color: violet;}
#link:visited{color: coral;}

/*========================= 5. 상태 선택자 =======================*/
input[type=checkbox]:checked{
    width: 30px;
    height: 30px;
}

input[type=checkbox]:checked+label{
    font-size: 30px;
}

input[name^=user]:focus{
    background-color: pink;
}

button:enabled {
    color: rgb(184, 131, 233);
}

button:disabled {
    color: rgb(177, 177, 177);
}

/*========================= 6. 일반 구조 선택자 =======================*/
/* #spting의 후손들 중 첫번째 */
#spring :first-child {background-color: lightgray;}
/* #spring>:first-child {background-color: lightgray;} */

#spring :last-child {background-color: lightblue;}
#spring :nth-child(2) {background-color: brown;}
#spring :nth-child(2n) {color: rgb(230, 168, 199);} /*짝수번째*/
#spring :nth-child(2n-1) {color: rgb(31, 158, 148);}

/*========================= 7. 형제 구조 선택자 =======================*/
#summer p:first-of-type {background-color: lightgray;}
#summer p:last-of-type {background-color: bisque;}
#summer p:nth-of-type(2) {background-color: brown;}
#summer p:nth-of-type(2n) {color: rgb(230, 168, 199);} /*짝수번째*/
#summer p:nth-of-type(2n+1) {color: rgb(6, 148, 136);}
#summer p:nth-last-of-type(2n+1) {color: rgb(23, 221, 82);}

/*========================= 8. 부정 선택자 =======================*/
#fall :not(p:first-of-type){color: brown;}
