/* 전체 */
*{
    margin: 0 auto;
}
body {
    width: 950px;
}

/* 헤더 */
header {
    width: 950px;
    height: 120px;
    background-color: rgb(165, 165, 250);
    border: 1px solid;
}
h1 {
    color: white;
    text-align: center;
    line-height: 120px;
}
section {
    float: left;
    width: 650px;
    height: 500px;
    background-color: rgb(255, 255, 124);
}

aside {
    float: right;
    width: 300px;
    height: 500px;
    background-color: rgb(126, 246, 250);
}

/* 푸터 */

footer {
    clear: both;
    height: 120px;
    background-color: rgb(205, 158, 248);
}