/* body */
body{
    width: 100%;
}
/* header */
header{ height: 350px;}
#logo{
    float: left;
    height: 30px;
    margin: 5px 0;
}
#login{
    float: right;
    margin-top: 15px;
}
#titleImg{
    margin-top: 15px;
    clear: both;
    height: 250px;
    width: 100%;
}
/* navi */
.navi{
    width: 100%;
    height: 40px;
    background-color: black;
}
.navi a{
    color:white;
    display: inline-block;
    width: 115px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 0.8em;
    
}
.navi :hover{
    background-color: rgb(44, 44, 44);
}
/* 본문 */
section{
    float: left;
    width: 100%;
    height: 100%;
    line-height: 2.5em;
}
section>article{
    margin: 15px;
    line-height: 40px;
}
section>h3{
    margin: 30px;
    text-decoration: solid;
    text-align: center;
    background-color: antiquewhite;
}
section>article>h4{
    margin: 20px;
    padding: 20px;
    background-color: beige;
}

aside>img{
    float: right;
    width: 100%;
    padding-top: 30px;
}
footer{
    clear: both;
    background-color:rgb(226, 226, 226);
    color: black;
    font-size: 0.8em;
}